body {
	text-align: center;
	color: white;
	background: linear-gradient(to bottom right, #000060, #cccccc) no-repeat fixed;
	font-family: "Veranda", Sans-serif;
}
table, td, th {
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	padding-top: 0px;
}
img.padding {
	padding: 0px;
}
h1 {
	font-size: 32pt;
	font-weight: bold;
}
img.icon {
	width: 300px;
	height: 300px;
}
a{
	color: red;
}
a:hover{ color: navy; }
a:active{ color: white; }
a.icon {
	
}
footer{
	text-align: center
}
li {
	list-style-position: inside;
}