body {
	color: white;
	background: linear-gradient(to bottom right, #000060, #cccccc) no-repeat fixed;
	font-family: "Veranda", Sans-serif;
	font-size: 1.5em;
}
div#intro {
	padding: 1em;
	background-color: white;
	border-style: solid;
	margin-top: 3em;
	margin-left: 5%;
	width: 50%;
	float: left;
	color: black;
}
div#nav {
	margin-top: 2em;
	float: right;
	height: 100%;
	background-color: #f1f1f1;
}
img.smimg {
	margin-left: 1em;
	float: left;
	width: 400px;
	height: 225px;
}
img#snesImg{}
img#n64Img{}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}
li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
}


table, td, th {
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	padding-top: 0px;
}
img.padding {
	display: block;
	width: 467px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
h1 {
	width: 900px;
	font-size: 32pt;
	font-weight: bold;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
}
img.icon {
	width: 300px;
	height: 300px;
}
a{
	color: red;
}
a:hover{ color: navy; }
a:active{ color: white; }
a.icon {
	
}
footer{
	text-align: center
}
li {
	list-style-position: inside;
}